class Kodex < Formula
  desc "Local coding agent"
  homepage "https://github.com/dsvolk/kodex"
  version "@VERSION@"
  license "Apache-2.0"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/dsvolk/kodex/releases/download/@TAG@/@ARM_ARCHIVE@"
      sha256 "@ARM_SHA@"
    else
      url "https://github.com/dsvolk/kodex/releases/download/@TAG@/@INTEL_ARCHIVE@"
      sha256 "@INTEL_SHA@"
    end
  end

  def install
    bin.install "kodex"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/kodex --version")
  end
end
